head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  title=name

  meta(name='description' content=description)
  meta(name='author' content='Benjamin Dos Santos')
  meta(name='robots' content='index, nofollow')

  link(rel='stylesheet' href='../scss/main.scss')
  link(rel='canonical' href=url)

  //- link(rel='icon' href='src/images/favicon.png' type='image/x-icon')
  meta(property='og:title' content=name)
  meta(property='og:description' content=description)
  meta(property='og:image' content=cover)
  meta(property='og:url' content=url)
  meta(property='og:type' content='website')
  meta(itemprop='name' content=name)
  meta(itemprop='description' content=description)
  meta(itemprop='image' content=cover)
  meta(name='twitter:title' content=name)
  meta(name='twitter:description' content=description)
  meta(name='twitter:image' content=cover)
  meta(name='twitter:card' content='summary_large_image')

  script(defer src='../js/main.js')
