- const attribute = `data-modal-${id}`

section(class='c-modal')&attributes({[attribute]: ''})

  div(class='c-modal__header')
    h2(class='u-bigText')=modal.name
    button(class='c-modal__button') close

  div(class=`c-experience c-experience--${id}`)
    each sentence in modal.sentences
      p(class='c-experience__sentence')=sentence

  if hasExperiences
    div(class='c-modal__footer'): ul(class='c-modal__list')
        each value, label in modal.rawValues
          li(class='c-modal__item')= label
            span=value
