- const attribute = `data-modal-${id}`

section(class='c-modal')&attributes({[attribute]: ''})

  div(class='c-modal__header u-verticalCenter t-red')
    h2(class='u-bigText')=modal.name
    button(class='c-modal__button u-hideText u-emptyPseudo') close

  ul(class=`c-experience c-experience--${id}`)
    each sentence in modal.sentences
      li(class='c-experience__sentence')=sentence

  if hasExperiences
    ul(class='c-modal__footer')
      each value, label in modal.rawValues
        li(class='c-modal__value')= `${label}\u00A0:\u00A0`
          span=value
