block config
  - const description = 'Expérimenter et mettre en relation les variables fonts et le monde réel.'

- const projectName = 'ConstanteSans'
- const name = `${title} - ${projectName}`
- const url = 'https://constantesans.benjamindossantos.be'
- const coverPath = 'preview.svg'
- const cover = `${url}/${coverPath}`

<!DOCTYPE html>
html(lang='fr' itemscope)

  include ../layouts/head

  body(data-namespace=page)

    block header

    main
      block modalsArea

        each modal, id in sections
          include ../layouts/modal

    block footer
