block config
  - const description = 'TFE'

- const projectName = 'ConstanteSans'
- const name = `${title} - ${projectName} [Beta]`
- const url = 'https://constantesans.benjamindossantos.be'
- const coverPath = ''
- const cover = `${url}/${coverPath}`

<!DOCTYPE html>
html(lang='fr' itemscope)

  include ../layouts/head

  body(data-namespace=page)

    block header

    main
      block modalsArea

        each modal, id in sections
          include ../layouts/modal

    block footer
