block setup
  - const description = 'TFE'

- const projectName = 'ConstanteSans'
- const name = `${title} - ${projectName} [Beta]`
- const url = 'https://constantesans.benjamindossantos.be'
- const coverPath = ''
- const cover = `${url}/${coverPath}`

<!DOCTYPE html>
html(lang='fr' itemscope)

  include ../layouts/head.pug

  body(data-namespace=page)
    block header

    main
      block modalArea
        each content, id in modals
          include ../components/modal/modal.pug

    block footer
