block config
  - const description = 'Expérimenter et mettre en relation les variable fonts et le monde réel.'

- const projectName = 'ConstanteSans'
- const name = `${title} - ${projectName}`
- const url = 'https://constantesans.benjamindossantos.be'
- const coverPath = 'preview.svg'
- const cover = `${url}/${coverPath}`

<!DOCTYPE html>
html(lang='fr' itemscope)

  include ../layouts/head

  body(data-namespace=page)

    block header

    include ../layouts/home/overallExperience

    main
      block modalsArea

        each modal, id in sections
          include ../layouts/modal

    block footer

    div(class='c-popup u-emptyPseudo is-visible')
      p.
        ConstanteSans est un projet d'expériences, son fonctionnement nécessite une installation physique (Raspberry Pi + capteurs) et
        n'est donc pas utilisable intégralement tel&nbsp;quel,&nbsp;en&nbsp;ligne.
      a(class="u-bigText u-emptyPseudo" href="https://www.youtube.com/watch?v=WCz23slNXhE&feature=youtu.be" target="_blank") Vidéo de l'expérience

      button(class='c-popup__close u-hideText u-emptyPseudo') close
